Repository airRnot1106/blog2: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, markuplint

lint:
  run: pnpm oxlint --type-aware {staged_files} && pnpm eslint {staged_files}
  stage_fixed: true

format:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

markuplint:
  run: pnpm markuplint {staged_files} --fix --problem-only
  stage_fixed: true

chore: init unit test
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: lint, format

chore: init awesome mcps
  .mcp.json
Due: lint, format

chore: 不要なフォントを削除
  src/app/layout.tsx
Due: lint, format, markuplint

feat: テスト用のgetPropsを追加
  src/utils/testing.tsx
Due: lint, format, markuplint

chore: init next-theme
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: lint, format, markuplint

chore: init MSW
  mocks/browser.ts
  mocks/handlers.ts
  mocks/server.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/mockServiceWorker.js
  src/app/layout.tsx
  src/libs/msw/MswClientProvider.tsx
  src/libs/msw/MswProvider.tsx
Due: lint, format, markuplint

chore: RSC脆弱性への対応
  package.json
  pnpm-lock.yaml
Due: lint, format

feat: unbrandを追加
  src/utils/unbrand.ts
Due: lint, format

chore: install awesome dependencies
  package.json
  pnpm-lock.yaml
Due: lint, format

feat: panic-helperを追加
  src/utils/panic-helper.ts
Due: lint, format

chore: minimumReleaseAgeを設定
  pnpm-workspace.yaml
Due: none

chore: init orval
  orval.config.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

feat: 375px未満のviewportの対応
  src/app/globals.css
Due: none

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  markuplint: any of: *.{html,jsx,tsx}
